<style>
a.logoutLinks{
  color: white;
  &:visited {color: white;}}	
</style> 

<div id="head">
<h1>Editing Address</h1>

		
	
	

</div>
<%= render 'form' %>
<body>


<%= link_to 'Back', group_addresses_path %> |
<%= link_to('Logout', destroy_user_session_path, {:method => :delete}, :class => "LogoutLinks") %> |
<%= link_to 'Help', tips_help_path %> <br/>


<body>